.home-container{
  
        background: #ffff;
    
    
}
.positonTop{
}
.h1{
    text-align: left;
}
.h{
    text-align: left;
}

.pText{
    font-style: italic;
    font: bold;
    font-size: 20px;
}

.row-container{
    background-image: url("/images/back1.jpg");
    background-size: cover;
    
}


