.nav-container{
    box-shadow: 0px 0px 5px 0px #000;
}
.modalSetup{
    margin-left: 35%;
    width: 30%;
}
.brandText{
    font-size: medium;
    font-style: oblique;
    font: medium;
    font-weight: bold;
    color:white;
}

.h3color{
    font-size: 20px;
    font-style: oblique;
    color: rgb(24, 11, 11);
    margin: 15px;
 

}
.formSize{

    font-style: italic;
    

    
}

.input-container{
   
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 3px;
    
}
.input-container input{
    outline: none;
    width: 100%;
    border: 0;
    

}
.input-container svg{
  margin: 0 10px;  
  color: #aaa;
  
}

