.brandText{
    font-size: medium;
    font-style: normal;
    font: medium;
    font-weight: bold;
    color:rgb(165, 111, 201);
}

.h3color{
    font-size: 20px;
    font-style: oblique;
    color: rgb(24, 11, 11);
    margin: 15px;
 

}
.formSize{

    font-style: italic;
}