.brandText{
    font-size: medium;
    font-style: normal;
    font: medium;
    font-weight: bold;
    color: white;
}

.h3color{
    font-size: 20px;
    font-style: oblique;
    color: white;
    margin: 5px;
 

}